body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: blue;

}

.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.questionContainer{
    margin: 10rem;
    padding: 5rem;
    width: 70vw;
    height: 10vh;
    background-color: gold;
    font-size: large;
    text-align: center;
}

.result{
    margin: 10px;
    padding: 5REM;
    width: 70vw;
    height: 10vh;
    background-color: rgb(6, 6, 5);
    font-size: large;
    text-align: center;
    color: azure;

}

.answerContainer{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    width: 70vw;
    height: 10vh;
    background-color: rgb(5, 5, 5);

}

.choice{
    padding: 10px;
    width: 15vw;
    height: 10vh;
    background-color: rgb(12, 16, 228);
    font-size: large;
    text-align: center;
}

.choice:hover{
    background-color: gold;
}

.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#010909;
}

.back, .evaluate, .next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
    background-color: gold;
}

.back:hover{
    background-color: blue;
}

.evaluate:hover{
    background-color: blue;
}

.next:hover{
    background-color: blue;
}

